.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-family-base);
  font-variation-settings: 'wght' 400;
  background: var(--gradient);
  background-size: cover;
  color: var(--color-text);
}

.header {
  font-family: PressStart2P;
  background-color: var(--background);
  border: #000 solid 2px;
  /* margin-block-start: 100px; */
  /* margin-block-end: 100px; */
  margin-block: 6.3em;
  text-align: center;
}

.title {
  margin-block-start: 2.1em;
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 0rem + 14.2857vw, 4.0625rem);
}

.title-description {
  text-transform: uppercase;
  font-size: clamp(0.875rem, -1.6094rem + 10.7143vw, 1.4375rem);
  letter-spacing: 1px;
}

.theme-menu__list {
  margin-block: 1.5em;
  display: flex;
  flex-direction: column;
  gap: .7em;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
}

/* .theme-menu__button:disabled {
  opacity: 1;
} */

.theme-menu__button:disabled::before {
  font-family: inherit;
  content: '\25b6';
  opacity: 1;
  position: relative;
  left: 5px;
}
/* content: '25ba' 25b6 ;case ▶ 2023  aalt */


section {
  background-color: var(--background);
  border: #000 solid 2px;
  margin-block-end: 52px;
}

img {
  width: 100%;
}

h3 {
  font-size: 18.2px;
  padding: 5px 0 3px 10px;
}

.card-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 27px;
  padding: 20px 25px;
  font-size: 19px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: flex-end;
  width: min-content;
}

.like-icon {
  /* — для svg-иконки анимированного сердца */

}

.card__like-button {
 /* — для кнопки Like рядом с иконкой */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
}

.card__icon-button{
   /* — для кнопки, оборачивающей иконку */
  border: none;
  background: transparent;
  cursor: pointer;
  }

.is-liked {
  /* — для обозначения состояния лайкнутой иконки в виде сердца */
}

.button__text {
  /* — для обозначения текстового элемента внутри кнопки */
}

.save-button {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 335px;
  height: 55px;
  margin-block-end: 102px; */
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  max-width: 335px;
  margin: 0 auto 103px auto;
  border: 2px solid var(--color-text);
  padding: 15px 18px;
}

.floppy {
  display: inline;
}

@media (width <= 375px) {

}
