:root {
    --font-family-base: 'Inter-Variable', sans-serif;
    --font-family-alternative: 'PressStart2P', sans-serif;
    --font-weight-card-name: 700;
    --font-weight-card-text: 400;
    --accent-color: #FFF;
    --color-text: #000;
    --background: #FFF;
    --filling: red;

    
    --gradient:
      repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);

  }